<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Correct</key>
		<string>San Francisco</string>
		<key>Image</key>
		<string>san_francisco.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Hong Kong</string>
		<key>Wrong2</key>
		<string>Budva</string>
		<key>Wrong3</key>
		<string>Beograd</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Correct</key>
		<string>Ho Chi Minh City</string>
		<key>Image</key>
		<string>ho_chi_minh_city.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Tirana</string>
		<key>Wrong2</key>
		<string>Bergen</string>
		<key>Wrong3</key>
		<string>Skopje</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Correct</key>
		<string>Bangkok</string>
		<key>Image</key>
		<string>bangkok.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Cebu</string>
		<key>Wrong2</key>
		<string>Beograd</string>
		<key>Wrong3</key>
		<string>Boracay</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Correct</key>
		<string>Boracay</string>
		<key>Image</key>
		<string>boracay.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Bangkok</string>
		<key>Wrong2</key>
		<string>Skopje</string>
		<key>Wrong3</key>
		<string>Mactan</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Correct</key>
		<string>Mactan</string>
		<key>Image</key>
		<string>mactan.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Budva</string>
		<key>Wrong2</key>
		<string>Bergen</string>
		<key>Wrong3</key>
		<string>Trogir</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Correct</key>
		<string>Boston</string>
		<key>Image</key>
		<string>boston.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Bergen</string>
		<key>Wrong2</key>
		<string>Hong Kong</string>
		<key>Wrong3</key>
		<string>Dubrovnik</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Correct</key>
		<string>Budva</string>
		<key>Image</key>
		<string>budva.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Bergen</string>
		<key>Wrong2</key>
		<string>Ho Chi Minh City</string>
		<key>Wrong3</key>
		<string>Mactan</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Correct</key>
		<string>Cebu</string>
		<key>Image</key>
		<string>cebu.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Dubrovnik</string>
		<key>Wrong2</key>
		<string>Bergen</string>
		<key>Wrong3</key>
		<string>Boracay</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Correct</key>
		<string>Dubrovnik</string>
		<key>Image</key>
		<string>dubrovnik.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Budva</string>
		<key>Wrong2</key>
		<string>Beograd</string>
		<key>Wrong3</key>
		<string>Bergen</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Correct</key>
		<string>Hong Kong</string>
		<key>Image</key>
		<string>hong_kong.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Skopje</string>
		<key>Wrong2</key>
		<string>Boston</string>
		<key>Wrong3</key>
		<string>Ho Chi Minh City</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Correct</key>
		<string>Hvar</string>
		<key>Image</key>
		<string>hvar.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Dubrovnik</string>
		<key>Wrong2</key>
		<string>Boracay</string>
		<key>Wrong3</key>
		<string>Cebu</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Correct</key>
		<string>Trogir</string>
		<key>Image</key>
		<string>trogir.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Mactan</string>
		<key>Wrong2</key>
		<string>Bangkok</string>
		<key>Wrong3</key>
		<string>Boston</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Correct</key>
		<string>New York</string>
		<key>Image</key>
		<string>new_york.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Skopje</string>
		<key>Wrong2</key>
		<string>Beograd</string>
		<key>Wrong3</key>
		<string>Bergen</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Correct</key>
		<string>Tirana</string>
		<key>Image</key>
		<string>tirana.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Hvar</string>
		<key>Wrong2</key>
		<string>Ho Chi Minh City</string>
		<key>Wrong3</key>
		<string>Hong Kong</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Correct</key>
		<string>Skopje</string>
		<key>Image</key>
		<string>skopje.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Tirana</string>
		<key>Wrong2</key>
		<string>Ho Chi Minh City</string>
		<key>Wrong3</key>
		<string>Lista</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Correct</key>
		<string>Beograd</string>
		<key>Image</key>
		<string>beograd.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Budva</string>
		<key>Wrong2</key>
		<string>Cebu</string>
		<key>Wrong3</key>
		<string>Skopje</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Correct</key>
		<string>Lista</string>
		<key>Image</key>
		<string>lista.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Boracay</string>
		<key>Wrong2</key>
		<string>Bergen</string>
		<key>Wrong3</key>
		<string>Hong Kong</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Correct</key>
		<string>Bergen</string>
		<key>Image</key>
		<string>bergen.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Lista</string>
		<key>Wrong2</key>
		<string>Bangkok</string>
		<key>Wrong3</key>
		<string>Beograd</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Correct</key>
		<string>Bergen</string>
		<key>Image</key>
		<string>bergen2.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Budva</string>
		<key>Wrong2</key>
		<string>Ho Chi Minh City</string>
		<key>Wrong3</key>
		<string>Skopje</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Correct</key>
		<string>Kristiansand</string>
		<key>Image</key>
		<string>kristiansand.jpg</string>
		<key>Question</key>
		<string>Where is this photo taken?</string>
		<key>Wrong1</key>
		<string>Lista</string>
		<key>Wrong2</key>
		<string>Mactan</string>
		<key>Wrong3</key>
		<string>San Francisco</string>
	</dict>
</dict>
</plist>
